<header>
  <nav class="nav-bar">
    <ul class="nav-links">
      <li><a href="#" id="view-my-events">My events</a></li>
    </ul>
    <button class="log-out-btn">Log out</button>
  </nav>
</header>

<main>
    <h1>Hola desde events</h1>
    <div id="events-container"></div>

    <template id="event-template">
        <div class="card-events">
            <ul>
            <li class="card-content">
                <div class="left">
                <div class="imagen"></div>
                <p class="event-name"></p>
                </div>
                <div class="right">
                <p class="event-capacity"></p>
                <button class="btn-action"></button>
                </div>
            </li>
            </ul>
        </div>
    </template>
</main>
