<section class="login-section">
  <div class="login-wrapper">
    <form id="login-form" class="login-form">
      <label for="email">Email</label>
      <input type="email" name="userEmail" id="email" placeholder="ejemplo@example.com" required />

      <label for="password">Password</label>
      <input type="password" name="userPass" id="password" required />

      <input type="submit" value="Log in" />
    </form>

    <p><a data-link href="/register">Don't have an account?</a></p>
  </div>
</section>
